In [230]:
import pandas as pd
import math

In [98]:
data = pd.read_excel("video_game_market.xlsx","genrePC")

data.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,"Retour au menu ""Marché du jeu vidéo""",NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,Marché du jeu vidéo PC selon le genre,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Le marché des jeux vidéo PC selon le genre (mi...,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,2017.00,2018.00,2019.00,2020.00,2021.00
7,action,597366.54,503639.42,451063.97,694736.22,502794.67
8,stratégie,658888.22,616128.93,495256.70,539665.58,458420.13
9,aventure,229472.85,220322.38,229000.10,442130.00,265875.10
10,jeu de tirs,502472.87,416841.88,436295.00,411191.30,278309.37
11,jeu de rôles,291465.39,346975.06,246741.99,379377.63,279319.54
12,sport,118805.58,113569.72,104128.94,138894.42,98938.74
13,course,97222.20,112007.92,90894.55,68931.97,55378.77
14,combat,62473.86,69175.16,50464.90,65324.61,80301.01

In [118]:
data_clean = data.dropna(axis = 0, how = 'all')
data_clean.dropna(axis = 0,thresh=5, inplace=True) 

data_clean.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
6,NaN,2017.00,2018.00,2019.00,2020.00,2021.00
7,action,597366.54,503639.42,451063.97,694736.22,502794.67
8,stratégie,658888.22,616128.93,495256.70,539665.58,458420.13
9,aventure,229472.85,220322.38,229000.10,442130.00,265875.10
10,jeu de tirs,502472.87,416841.88,436295.00,411191.30,278309.37
11,jeu de rôles,291465.39,346975.06,246741.99,379377.63,279319.54
12,sport,118805.58,113569.72,104128.94,138894.42,98938.74
13,course,97222.20,112007.92,90894.55,68931.97,55378.77
14,combat,62473.86,69175.16,50464.90,65324.61,80301.01
15,jeu casual,67856.23,44341.97,36328.40,63233.25,42503.67
16,simulation aérienne,3287.16,2867.00,12758.82,35110.24,17952.18
17,arcade,4869.39,1891.52,2167.27,14650.62,6737.79
18,autres jeux,5537.62,2255.71,1826.22,9444.19,11548.51
19,NaN,35264.24,21426.37,32006.12,6793.23,3654.36
20,famille,2433.47,3741.05,3696.59,5389.96,4267.12

In [232]:
df_genre = data_clean.iloc[:17]
#df_genre.columns  = df_genre.iloc[0].apply(lambda x: int(math.trunc(x)) if pd.notna(x) and isinstance(x, (int, float)) else x)
#df_genre = df_genre[1:].reset_index(drop=True)
#df_genre.iloc[0] = df_genre.iloc[0].apply(lambda x: int(x) if pd.notna(x) and isinstance(x, (np.float64, float)) else x)

def convert_and_trunc(x):
    try:
        # Convertit les chaînes numériques en float
        value = float(x)
        print("bla")
        return int(math.trunc(value))
    except ValueError:
        # Renvoie la valeur inchangée si la conversion échoue
        print("error")
        return x

# Appliquer la conversion à la première ligne
df_genre.iloc[0] = df_genre.iloc[0].apply(convert_and_trunc)

# Afficher le DataFrame
print(df_genre.head())

bla
error
bla
bla
bla
bla
bla
     Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5
6           NaN     2017.00     2018.00     2019.00     2020.00     2021.00
7        action   597366.54   503639.42   451063.97   694736.22   502794.67
8     stratégie   658888.22   616128.93   495256.70   539665.58   458420.13
9      aventure   229472.85   220322.38   229000.10   442130.00   265875.10
10  jeu de tirs   502472.87   416841.88   436295.00   411191.30   278309.37